{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}

<!-- Login area and a signup link for new users -->

<div class="container">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-8 mt-3">
      <h3>{% trans "Login" %}</h3>

      <p>{% blocktrans %}Welcome back to the TraderPro blog. To leave a comment/like a blogpost, please login. <br>
        (Create a new account here: <a class="link active" href="{{ signup_url }}">Signup</a>)
        {% endblocktrans %}</p>
    </div>
  </div>

  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-8 mt-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
