body {
    background-color: #F9FAFC;
}

/* headings/logo and small fixes */

.logo {
    font-family: Open sans, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #F08A5D;
}

.logo-color {
    color: #4A4A4F;
}

.thick {
    font-weight: 600;
}

.h1 {
    text-shadow: 2px 2px #000000;
}
.main-h2 {
    text-shadow: 2px 2px #000000;
}

.text-italic {
    font-style: italic;
}

.content-center {
    justify-content: center;
}

.likerow {
    margin-top: 30px;
}

.f-bg {
    background-color: #f1f1f1;
}

.cr-bg {
    background-color: #000000;
}

#div_id_body {
    margin-bottom: 10px;
}

/* backgrounds and images style */

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F08A5D;
}

.bg-image {
    background-color: #000000;
    box-shadow: inset 0px 0px 100px rgba(0,0,0,0.9);
    background-position: center;
    background-size: cover;
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
}

.card-img-top {
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
}

/* links */

.post-title {
    margin-top: 2%;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-subtitle {
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #F08A5D;
}

.link {
    color: #F08A5D;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.author {
    color: #000000;
    margin: 4px;
    text-transform: uppercase;
}

.delete_comment,
.edit_comment {
    color: #F08A5D;
    padding-right: 4px;
}

.delete_comment:hover,
.edit_comment:hover {
    color:#ff4000;
}

/* buttons */

.btn-signup {
    background-color: #F08A5D;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #f0895dbb;
    color: #fff;
}

.btn-like {
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    background: transparent;
    border: none;
}

.page-link {
    background-color: #F08A5D;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.page-link:hover,
.page-link:active {
    background-color: #f0895dbb;
    color: #fff;
}

/* icons */

.fa-heart {
    color: #ff4000
}

.fa-comments {
    color: #009600
}
