body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Open sans, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #F08A5D;
}

.logo-color {
    color: #4A4A4F;
}

.thick {
    font-weight: 600;
}

.h1 {
    text-shadow: 2px 2px #000000;
}
.main-h2 {
    text-shadow: 2px 2px #000000;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F08A5D;
}

.author {
    color: #000000;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 2%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #F08A5D;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #f0895dbb;
    color: #fff;
}

.link {
    color: #F08A5D;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.content-center {
    justify-content: center;
}

.bg-image {
    background-color: #000000;
    box-shadow: inset 0px 0px 100px rgba(0,0,0,0.9);
    background-position: center;
    background-size: cover;

}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: middle;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
}

.card-img-top {
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
}

#div_id_body {
    margin-bottom: 10px;
}

.likerow {
    margin-top: 40px;
}

.f-bg {
    background-color: #f1f1f1;
}

.cr-bg {
    background-color: #000000;
}


